#header{
    height:50px;
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: lightyellow;
    text-align:center;
    border-bottom: solid 1px black;
}

#messages{
    width:100%;
    position:absolute;
    left:0;
    right:0;
    top:50px;
    bottom:50px;
}

#footer{
    height:50px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: lightcyan;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black
}