* {
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    height:50px;
    width:100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: lightyellow;
    text-align:center;
    border-bottom: 1px solid black;
}

#messages{
    width:100%;
    position:fixed;
    left:0;
    right:0;
    top:51px;
    bottom:50px;
    overflow: auto;
}

#footer{
    height:50px;
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: lightcyan;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black
}