#footerWrapper {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerContent {
    height:40px;
    display: flex;
    margin:5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#startingText {
    height:39px;
    font-size:15px;
    padding-left:5px;
    border-bottom: 1px solid black;
    display:flex;
    align-items:center;
    background-color: rgb(230,255,240);
}

#messageInput, #usernameInput{
    height:90%;
    flex-grow:1;
    margin-right:5px;
    margin-left:0;
    font-size:16px;
}

#enterButton, #sendButton, #uploadButton {
    height: 100%;
}

#enterButton {
    width: 75px;
}

#sendButton {
    width: 65px;
}

#uploadButton{
    width: 85px;
}

#changeButton {
    height:100%;
    width:58px;
    text-align: center;
    margin-right: 5px;
}

#fileTypes {
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    margin-left:5px;
    font-weight:00;
}

#uploadContent {
    flex-grow : 1;
    min-width: 100px;
    margin-left: 0;
    margin-right: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(170, 255, 255);
    padding: 5px;
}

#fileUpload {
    flex-grow:1;
    font-size: 16px;
    margin-right: 5px;
    color: orangered;
}