#headerContent {
    width:100%;
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#backButton {
    height: 40px;
    width: 65px;
}

#activeUsers {
    height: 100%;
    font-size: 18px;
    margin-left: 10px;
    flex-grow:1;
    text-align:left;
    text-overflow: ellipsis
}

#roomIdText{
    margin-right:10px;
    font-weight:bold;
}

#roomNum {
    color:blue;
    font-size: 18px;
}